<div class="container">
  <form (ngSubmit)="onSave()">
    <h2>Edit User Info</h2>
    <label for="level">Skill Level:</label>
    <select name="level" [(ngModel)]="skill">
      <option value="BEGINNER">Beginner</option>
      <option value="INTERMEDIATE">Intermediate</option>
      <option value="ADVANCED">Advanced</option>
      <option value="NA">Any</option>
    </select>
    <label for="genre">Genre:</label>
    <select name="genre" [(ngModel)]="genre">
      <option value="ROCK">Rock</option>
      <option value="METAL">Metal</option>
      <option value="POP">Pop</option>
      <option value="FOLK">Folk</option>
      <option value="JAZZ">Jazz</option>
      <option value="BLUES">Blues</option>
      <option value="NA">Any</option>
    </select>
    <label for="goal">Goal:</label>
    <select name="goal" [(ngModel)]="goal">
      <option value="RHYTHM">Rhythm</option>
      <option value="SOLO">Solo</option>
      <option value="FINGERSTYLE">Fingerstyle</option>
      <option value="NA">Any</option>
    </select>
    <label for="chords">Chords:</label>
    <input type="text" name="chords" [(ngModel)]="chords" />
    <button type="submit">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
